body{
    background: #36a1c5;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/img/clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#app{
    font-family: 'Oswald', sans-serif;
    align-items: stretch;
    background: transparent;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 50vw;
}

.holder{
    margin: 0, auto;
    padding-top: 20px;


}

.entry{
    background: rgba(175, 196, 240, 0.4);
}


#entryHolder {
        align-items: center;
        display: flex;
        font-size: 1.2rem;
        justify-content: space-evenly;
        padding: 2rem 0;
        height: 200px;
}

#generate {
    background: #5e67ef;
    border: 0.2rem solid var(--color-dark);
    border-radius: 2rem;
    box-shadow: 1rem 1rem 2rem #444;
    color: var(--color-dark);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    height: 8rem;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    text-transform: uppercase;
    transition: all 0.1s;
    width: 50%;
  }
  

#date{
    font-size: 1em;

}

#feelings{
    width: 50%;
}

#temp{
    font-size: 1em;
}

#content{
    font-size: 1em;
}

#zip{
    align-items: center;
    margin-left: 23%;
    padding: 1.5rem 1rem;
    text-transform: uppercase;
    width: 50%;
}

.holder {
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
}


.title{
    font-size: 1em;
    text-decoration: hsla(120,60%,70%,0.3);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 

@media only screen and (max-width: 640px) {
    #generate {
        font-size: 1rem;
    }
}